name: Build_Publish

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: prod
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org/'

      - name: Install Terser
        run: npm install -g terser

      - name: Prepare dist folder
        run: mkdir -p dist

      - name: Build production bundle
        id: build
        run: |
          TAG_NAME=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Building version $TAG_NAME"

          echo "/**" > dist/terminal.js
          echo " * Web Terminal Embed" >> dist/terminal.js
          echo " * Version $TAG_NAME" >> dist/terminal.js
          echo " * Build Date $(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> dist/terminal.js
          echo " * Commit ${GITHUB_SHA}" >> dist/terminal.js
          echo " */" >> dist/terminal.js
          cat terminal.js >> dist/terminal.js

          # Minify
          npm install -g terser
          terser dist/terminal.js --compress --mangle --output dist/terminal.min.js --comments "/^!|@preserve|@license|@cc_on/i"

          # Metadata
          echo "Version $TAG_NAME" > dist/VERSION.txt
          echo "Build Date $(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> dist/VERSION.txt
          echo "Commit ${GITHUB_SHA}" >> dist/VERSION.txt
          echo "Release Tag ${TAG_NAME}" >> dist/VERSION.txt

          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Prepare package files
        run: |
          cp dist/terminal.js ./
          cp dist/terminal.min.js ./
          cp dist/VERSION.txt ./

      - name: Publish to npm
        run: |
          TAG_NAME=${{ steps.build.outputs.tag_name }}
          echo "Publishing version $TAG_NAME to npm"
          npm version $TAG_NAME --no-git-tag-version --allow-same-version
          npm publish --provenance --access public
          echo "Published: https://www.npmjs.com/package/@w3term/terminal"